@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;600;700;800&family=Familjen+Grotesk:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-family: 'Assistant', sans-serif;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Lato', sans-serif;;
}
body {
    margin: 0;
    background-color: #05292E;
}
h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
    list-style: none;
}
input, button {
    border: none;
    font-family: inherit;
}
input {
    outline: none;
}
img {
    width: 100%;
    display: block;
}
